In [3]:
import pandas as pd
import re

In [2]:
df = pd.DataFrame({"name":["Kyle Johnsen","Brooks Bowers","Andrew Rukangu"]})
df.name.str.extract(r"^([A-Za-z]+) +([A-Xa-x]+)$")
valid_names = df.name.str.match(r"^(A-Za-z]+) +([A-Za-z]+)$")
df[valid_names]
df.name.str.split(expand=True)
df = pd.concat(df,valid_names)

        0        1
0    Kyle  Johnsen
1  Brooks   Bowers
2  Andrew  Rukangu

In [ ]:
df.apply(lambda x: f"{x.Firstname} - {x.Lastname}", axis=1)

def combineNames(x):
    return f"{x.Firstname} - {x.Lastname}"