In [1]:
import pandas as pd

In [6]:
#Import data
df = pd.read_csv("data/heights.csv")
df.head(2)

   id firstname lastname  height
0   1      kyle  johnsen      75
1   2     brook   bowers      68

In [8]:
manual_df = pd.DataFrame({
    "id": [6,7],
    "first_name":["erin","claire"],
    "last_name":["johnsen","johnsen"],
    "height_in":[70,59]
})
manual_df.head()

   id first_name last_name  height_in
0   6       erin   johnsen         70
1   7     claire   johnsen         59